:ruby
  tickets = [ { :num => 123, :status => :new,      :age => '1 day', 
                :subject => 'This is a ticket' },
              { :num => 119, :status => :open,     :age => '2 days',
                :subject => 'Something needs doing' },
              { :num => 97,  :status => :resolved, :age => '3 days',
                :subject => 'Something that got done' } ]
  filters = [ { :name => 'Status', :options => [ 
                { :name => 'new', :selected => true },
                { :name => 'open', :selected => true },
                { :name => 'resolved', :selected => true } ]},
              { :name => 'Age', :options => [ 
                { :name => 'today' },
                { :name => 'yesterday' },
                { :name => 'this week', :selected => true },
                { :name => 'this month' } ]}]

!!!
%head
  %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/ticket_tabs.css' }
  %script{ :src => '/jquery-1.4.2.min.js', :type => 'text/javascript' }
  :javascript
    $(document).ready(function(){
      $('ul.options li span.text').click(function(){
        $(this).parent('li').toggleClass('selected');
      });
      $('.save_search').live('click', function(){
        $(this).hide();
        $('.saved').show().delay(3000).fadeOut('slow');
      });
    })
  %title Ticket Tabs
%body{ :class => params[:selected] || 'dashboard' }
  #header
    %h1 Ticket Tabs
  #nav
    %ul.navigation
      %li#dashboard
        %a{ :href => '/ticket_tabs?selected=dashboard' } Dashboard
      %li#tickets 
        %a{ :href => '/ticket_tabs?selected=tickets' } Tickets
      %li#users
        %a{ :href => '/ticket_tabs?selected=users' } Users
      %li#admin
        %a{ :href => '/ticket_tabs?selected=admin' } Admin
  #subnav
    .content
      = "Tickets &raquo; this ticket" if params[:selected] == 'tickets'
  #main
    - if params[:selected] == 'tickets'
      .tickets
        .ticket.header
          .narrow
            .num #
          .narrow
            .status Status
          .wide
            .subject Subject
          .narrow
            .age Age
        - tickets.each do |ticket|
          .ticket{ :class => ticket[:status].to_s }
            .narrow
              .num= ticket[:num]
            .narrow
              .status= ticket[:status].to_s
            .wide
              .subject= ticket[:subject]
            .narrow
              .age= ticket[:age]
      .filters
        .save_search
          %a{ :href => 'javascript:void(0);' } Save search
        .saved Saved!
        - filters.each do |filter|
          .filter
            %h2= filter[:name]
            %ul.options
              - filter[:options].each do |option|
                %li{ :class => option[:selected] ? 'selected' : nil }
                  %span.text
                    %span.check &#10003;
                    = option[:name]
    - else
      .content
        %p This is some content on the page
  #footer
    .column
      First column of footer stuff
    .column
      Second column of footer stuff
    .column
      Third column of footer stuff
    .column
      Fourth column of footer stuff